numpy==1.19.5
scipy==1.5.4
matplotlib==3.3.4
matplotlib-label-lines==0.4.3
netCDF4==1.6.1
f90nml==1.4.4
aurorafusion==2.1.0
omfit-classes==3.2022.30.2
rich==12.6.0
h5py==3.1.0
git+https://gitlab.com/ipar/solpspy
git+https://gitlab.com/ipar/quixote